<section id="footer">
	<footer class="container col-md-12 wow fadeIn">
		<div class="row">
			<div class="col-md"></div>
			<div class="col-md">
				<h5>Company</h5>
				<ul class="list-unstyled" >
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact</a></li>
					<li>Careers</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Affiliates</h5>
				<ul class="list-unstyled" >
					<li>GoCertificates.com</li>
					<li>GoHost, LLC.</li>
					<li>NameChangeProcess.com</li>
					<li>BabysBackground.com</li>
					<li>GoPetCertificates.com</li>
					<li>Huber & Associates</li>
					<li>GoSmartAir</li>
					<li>Pristine Properties</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Solutions</h5>
				<ul class="list-unstyled" >
					<li>Vital Records</li>
					<li>Data Hosting</li>
					<li>Technical Support</li>
					<li>Additional Services</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Headquarters</h5>
				<p class="headquarters">3601 N. Progress Ave. #200<br>Harrisburg, PA 17110, USA<br>(717) 909-8500<br>marketing@genesisinfo.com</p>
				<span class="social">
					<a href="https://twitter.com/genesissystems1?lang=en"><i class="fab fa-twitter-square fa-2x"></i></a>
					<a href="https://www.linkedin.com/company/genesis-systems-inc./"><i class="fab fa-linkedin fa-2x"></i></a>
					<a href="https://www.facebook.com/GenesisSystemsInc/"><i class="fab fa-facebook fa-2x"></i></a>
				</span>	
			</div>
			<div class="col-md"></div>
		</div>
		<p class="legal text-muted">Terms & Privacy<br>&#0169; 2018 Genesis Systems, Inc. All Rights Reserved.</p>
	</footer>
</section>
