<section id="footer">
	<footer class="container col-md-12">
		<div class="row">
			<div class="col-md-2"></div>
		<!-- 	<div class="col-md-4">
				<h2><strong>Genesis Systems, Inc.</strong> Leading the way in modern vital records applications.</h2>
			</div> -->
			<div class="col-md">
				<h5>About Us</h5>
				<ul class="list-unstyled" >
					<li>About Us</li>
					<li>Contact</li>
					<li>Careers</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Affiliates</h5>
				<ul class="list-unstyled" >
					<li>GoCertificates.com</li>
					<li>GoHost, LLC.</li>
					<li>NameChangeProcess.com</li>
					<li>BabysBackground.com</li>
					<li>GoPetCertificates.com</li>
					<li>Huber & Associates</li>
					<li>GoSmartAir</li>
					<li>Pristine Properties</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Products</h5>
				<ul class="list-unstyled" >
					<li>Vital Records</li>
					<li>Data Hosting</li>
					<li>Technical Support</li>
					<li>Accounting Services</li>
					<li>Plane Leases</li>
					<li>Property Management</li>
				</ul>
			</div>
			<div class="col-md">
				<h5>Headquarters</h5>
				<p class="headquarters">3601 N. Progress Ave. #200<br>Harrisburg, PA 17110, USA<br>(717) 909-8500<br>marketing@genesisinfo.com</p>
				<span class="social">
					<i class="fab fa-twitter-square fa-2x"></i>
					<i class="fab fa-linkedin fa-2x"></i>
					<i class="fab fa-facebook fa-2x"></i>
				</span>	
			</div>
			<div class="col-md-2"></div>
		</div>
		<p class="legal text-muted">Terms & Privacy<br>&#0169; 2018 Genesis Systems, Inc. All Rights Reserved.</p>
	</footer>
</section>
