<section id="hero">
	<div class="hero-container">
		<%= video_tag "17372809.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
		<div class="header-overlay"></div>
		<div class="intro display-4">Generic Software, Inc.<br>Modern Solutions</div>
		<button type="button" class="btn btn-outline-warning modal-button" data-toggle="modal" data-target="#modalContactForm">Request a Demo</button>
	</div>
</section>