<section id="hero">
	<div class="hero-container">
	 	<h1 class="display-4">Vital Records Solutions for the<br>Modern Age</h1>
	 	<!-- < %= video_tag "Busy-People.mp4", size: "100%", controls: false,  autoplay: :autoplay, loop: :loop, mute: :mute %> -->

	</div>
</section>