<!-- Main jumbotron for a primary marketing message or call to action -->
<section id="hero">
	<!-- <div class="jumbotron"> -->
		<div class="hero-container">
		  <h1 class="display-4">Vital Records Software for the Modern Age</h1>
		</div>
	<!-- </div> -->
</section>