<nav class="navbar navbar-expand-md navbar-light bg-light navbar-mini">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mini" aria-controls="navbar-mini" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbar-mini">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#overview">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#modules">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/interoperability">Interoperability</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/security-and-compliance">Security &#38; Compliance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records">[ Vital Records Core ]</a>
      </li>
    </ul>
  </div>
</nav>