<section id="modules">
	<div class="container">
		<h2 class="display-4 vr-title">Suite of Modules</h2>
		<p class="intro">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		<div class="module-card-area">
				<div class="row justify-content-center">
					<div class="module-card col-md wow fadeInUp">
						<h3>Birth</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/birth" role="button">Learn More</a>
					</div>
					<div class="module-card col-md wow fadeInUp">
						<h3>Death</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/death" role="button">Learn More</a>
					</div>
					<div class="module-card col-md wow fadeInUp">
						<h3>Marriage</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/marriage" role="button">Learn More</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="module-card col-md wow fadeInUp">
						<h3>Divorce</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/divorce" role="button">Learn More</a>
					</div>
					<div class="module-card col-md wow fadeInUp">
						<h3>Fee &#38; Issuance</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/fee-and-issuance" role="button">Learn More</a>
					</div>
					<div class="module-card col-md wow fadeInUp">
						<h3>Fetal Death</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/fetal-death" role="button">Learn More</a>
					</div>
					<div class="module-card col-md wow fadeInUp">
						<h3>ITOP</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/ITOP" role="button">Learn More</a>
					</div>
					<div></div>
				</div>	
			</div>	
	</div>
</section>