<nav class="navbar navbar-expand-md navbar-light bg-light navbar-mini">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mini" aria-controls="navbar-mini" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbar-mini">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#overview">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plugins</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/solutions/core/analytics">Analytics</a>
          <a class="dropdown-item" href="/solutions/core/accessibility">Accessibility</a>
          <a class="dropdown-item" href="/solutions/core/payment-processing">Payment Processing</a>
          <a class="dropdown-item" href="/solutions/core/block-chaining">Block Chaining</a>
          <a class="dropdown-item" href="/solutions/core/mobile-development">Mobile Development</a>
          <a class="dropdown-item" href="/solutions/core/security">Security</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/core">[ Core ]</a>
      </li>
    </ul>
  </div>
</nav>