<section id="plugins">
	<div class="container">
		<h2 class="display-4 core-title">Suite of Plugins</h2>
		<p class="intro">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		<div class="plugin-card-area">
				<div class="row justify-content-center">
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Analytics</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/birth" role="button">Learn More</a>
					</div>
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Accessibility</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/death" role="button">Learn More</a>
					</div>
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Payment Processing</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/marriage" role="button">Learn More</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Block Chaining</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/divorce" role="button">Learn More</a>
					</div>
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Mobile Development</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/fee-and-issuance" role="button">Learn More</a>
					</div>
					<div class="plugin-card col-md wow fadeInUp">
						<h3>Security</h3>
						<hr>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
						</p>
						<a class="btn btn-outline-warning btn-lg btn-block" href="/solutions/vital-records/fetal-death" role="button">Learn More</a>
					</div>
					<div></div>
				</div>	
			</div>	
	</div>
</section>