<section id="welcome">
  <div class="container">
    <h2>Fast, customizable vital records solutions</h2>
    <p>Genesis Systems has specialized in vital records software for all levels of state government, hospitals/medical centers, funeral homes, and more for over 30 years! Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</section>

<section id="solutions">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab1">
        <span>
          Vital<br>Records
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab2">
        <span>
          Data<br>Hosting
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab3">
        <span>
          Technical<br>Support
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab4">
        <span>
          Accounting<br>Services
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab5">
        <span>
          Private<br>Planes
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab6">
        <span>
          Property<br>Management
        </span></a></li>
    </ul>


    <div class="tab-content col-md-12">
      <div id="tab1" class="tab-pane fade in show active">
        <h3>Vital records software</h3>
          <div class="row">
            <div class="product-box col-sm bg-danger">
              <h4>Certificates</h4>
              <div class="fa-2x text-center">
                <i class="fas fa-user-md fa-3x" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x"></i>
              </div>
            </div>
            <div class="product-box col-sm bg-primary">
              <h4>Licenses</h4>
              <div class="fa-2x text-center">
                <i class="fas fa-balance-scale fa-3x" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x"></i>
              </div>
            </div>
            <div class="product-box col-sm bg-danger">
              <h4>Babies</h4>
              <div class="fa-2x text-center">
                <i class="fas fa-child fa-3x" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x"></i>
              </div>
            </div>
            <div class="product-box col-sm bg-primary">
              <h4>Pets</h4>
              <div class="fa-2x text-center">
                <i class="fas fa-paw fa-3x" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x"></i>
              </div>
            </div>
          </div>  
       </div>

      <div id="tab2" class="tab-pane fade">
        <h3>Secure hosting</h3>
          <div class="row">
            <div class="product-box col-sm bg-danger">
              1 of 2
            </div>
            <div class="product-box col-sm bg-primary">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab3" class="tab-pane fade">
        <h3>Techincal support customized for your needs</h3>
          <div class="row">
            <div class="product-box col-sm bg-danger">
              1 of 2
            </div>
            <div class="product-box col-sm bg-primary">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab4" class="tab-pane fade">
        <h3>Professional Accounting Services</h3>
          <div class="row">
            <div class="product-box col-sm bg-danger">
              1 of 2
            </div>
            <div class="product-box col-sm bg-primary">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab5" class="tab-pane fade">
        <h3>Private planes for lease</h3>
         <div class="row">
            <div class="product-box col-sm bg-danger">
              1 of 2
            </div>
            <div class="product-box col-sm bg-primary">
              2 of 2
            </div>
          </div>  
      </div>
      <div id="tab6" class="tab-pane fade">
        <h3>Enjoy peace of mind with Pristine Property Management</h3>
          <div class="row">
            <div class="product-box col-sm bg-danger">
              1 of 2
            </div>
            <div class="product-box col-sm bg-primary">
              2 of 2
            </div>
          </div>  
      </div>
  </div>
</section>


        
<section id="stats">        
  <div class="container">
    <div class="row">
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
</section>



<section id="states">        
  <div class="container d-none d-sm-block">
    <h4>Genesis Systems, Inc Government Partners</h4>
    <div class="row">
      <div class="col-sm">
        <%= image_tag "CO.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "GA.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "TX.png" %>
      </div>
      <div class="col-sm">
        <%= image_tag "DE.png" %>
      </div>
    </div>
  </div>
</section>