<section id="welcome">
  <div class="container">
    <h2>Fast, customizable vital records solutions</h2>
    <p>Genesis Systems has specialized in vital records software for all levels of state government, hospitals/medical centers, funeral homes, and more for over 30 years! Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</section>

<section id="solutions">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab1">
        <span>
          Vital<br>Records<br>Management
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab2">
        <span>
          Data<br>Hosting
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab3">
        <span>
          Technical<br>Support
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab4">
        <span>
          Accounting<br>Services
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab5">
        <span>
          Private<br>Planes
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab6">
        <span>
          Property<br>Management
        </span></a></li>
    </ul>


    <div class="tab-content container">
      <div id="tab1" class="tab-pane fade in show active">
        <h3>Vital records software</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="tab2" class="tab-pane fade">
        <h3>Secure hosting</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="tab3" class="tab-pane fade">
        <h3>Techincal support customized for your needs</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="tab4" class="tab-pane fade">
        <h3>Professional Accounting Services</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="tab5" class="tab-pane fade">
        <h3>Private planes for lease</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo..</p>
      </div>
      <div id="tab6" class="tab-pane fade">
        <h3>Enjoy peace of mind with Pristine Property Management</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
</section>
        