<% content_for :head do %>
  <title>Industry Solutions For Crushing Your Enemies | Generic Software, Inc</title>
  <meta name="description" content="Generic Software, Inc. is the leading software developer for every single industry for every problem.">
<% end %>

<!-- Hero Section-->
<%= render 'partials/hero' %>

<!-- Welcome Section -->
<section id="welcome">
  <div class="container">
    <h2 class="display-4">Customizable Generic Software solutions</h2>
    <p >Generic Software, Inc has specialized in industry software development for over 100 years. As the original developers of the modern Search Engine, our services include, but are not limited to our core industry product, data hosting and technical support at preposterously high prices. Our web-based systems serve state and federal government agencies, Fortune 500 companies, Misfortune 100 companies, as well as most child-run lemonade stands across the nation.</p> 
  </div>
</section>

<!-- Solutions Section -->
<section id="solutions">
  <div class="container">
    <ul class="nav nav-tabs wow fadeInUp">
      <li class="active col-sm"><a data-toggle="tab" href="#tab1">
        <span>
          Core<br>Product
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab2">
        <span>
          Data<br>Hosting
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab3">
        <span>
          Technical<br>Support
        </span></a></li>
      <li class="col-sm"><a data-toggle="tab" href="#tab4">
        <span>
          Additional<br>Services
        </span></a></li>
    </ul>


    <div class="tab-content wow fadeInUp">

  <!-- Tab 1 -->
      <div id="tab1" class="tab-pane show active">
        <h3>Core Product</h3>
          <div class="row">
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-user-md fa-3x product-icon" data-fa-transform="shrink-10 left-.2 down-2 " data-fa-mask="fas fa-file fa-3x" color="#3B6584"></i>
                <h5>Doctor Approved</h5>
                <p class="product-description">
                  Intuitive software for medical professionals including nurses, physicians, dentists and more.
                </p>
                
              </div>
              <a class="btn btn-warning product-button" href="/solutions/core" role="button">Learn More</a>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
               <i class="fas fa-cogs fa-3x product-icon" color="#3B6584"></i>
                <h5>Custom Integration</h5>
                <p class="product-description">
                  Solutions tailored to your needs with seamless integration to your favorite IOT product such as smart watches, smart refrigerators, and smart water. 
                </p>
              </div> 
              <a class="btn btn-warning product-button" href="/solutions/core" role="button">Learn More</a>
            </div>

            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-chart-line fa-3x product-icon" color="#3B6584"></i>
                <h5>Statistics</h5>
                <p class="product-description">
                  Generic helps you discover and evaluate key trends and hidden problem areas with our powerful analytic tools. 
                </p>
               </div> 
               <a class="btn btn-warning product-button" href="/solutions/core" role="button">Learn More</a>
            </div>

            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                 <i class="fas fa-users fa-3x product-icon" color="#3B6584"></i>
              <h5>Industry Expertise</h5>
              <p class="product-description">
                  You are never alone with continuous product support from industry experts and dedicated Generic staff. 
              </p>
            </div>
             <a class="btn btn-warning product-button" href="/solutions/core" role="button">Learn More</a>
          </div> 
        </div>
      </div>  

  <!-- Tab 2 -->
      <div id="tab2" class="tab-pane fade">
        <h3>Secure Data Hosting</h3>
         <div class="row">
          <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-server fa-3x product-icon" color="#3B6584"></i>
                <h5>Industry Grade Hosting</h5>
                <p class="product-description">
                  Comprehensive hosting services for enterprise level systems with flexibile plans and a 99.9% uptime guarantee. Need help getting set up? Let Generic create a custom strategy for your infrastructure, systems, disaster recovery design &#38; implementation.
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/data-hosting" role="button">Learn More</a>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-lock fa-3x product-icon" color="#3B6584"></i>
                <h5>Secure</h5>
                <p class="product-description">
                  State of the art data center protected by multifactor authentication entry points, 24/7 system monitoring with customizable alerts and thresholds, fully redundant systems with failover capacity from production environment, and more. 
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/data-hosting" role="button">Learn More</a>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-fire-extinguisher fa-3x product-icon" color="#3B6584"></i>
                <h5>Disaster Recovery</h5>
                <p class="product-description">
                   Peace of mind knowing that in the event of a disaster your data processing can continue virtually uninterrupted. Our hosting experts leverage years of experience to meet your infrastructure requirements.
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/data-hosting" role="button">Learn More</a>
            </div>
          </div>  
      </div>

<!-- Tab 3       -->
      <div id="tab3" class="tab-pane fade">
        <h3>Customized IT Support</h3>
          <div class="row">
           <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-clipboard-check fa-3x product-icon" color="#3B6584"></i>
                <h5>Choose Your Plan</h5>
                <p class="product-description">
                  Choose the level of <strong>IT Support</strong> for your business needs. Enjoy peace of mind with options for unlimited access 24/7 to our experienced support specialists.
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/technical-support" role="button">Learn More</a>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fab fa-searchengin fa-3x product-icon" color="#3B6584"></i>
                <h5>Fast Results</h5>
                <p class="product-description">
                  Our fast IT support targets problem areas and highlights opporutunities for improvement, boosting your productivity and keeping your focus on what really matters &#8212; your business.
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/technical-support" role="button">Learn More</a>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-heartbeat fa-3x product-icon" color="#3B6584"></i>
                <h5>Peace Of Mind</h5>
                <p class="product-description">
                  Relax knowing that your business is protected by vigilant professionals with years of technical experienece.  
                </p>
              </div>
               <a class="btn btn-warning product-button" href="/solutions/technical-support" role="button">Learn More</a>
            </div>
          </div>  
      </div>

<!-- Tab 4       -->
      <div id="tab4" class="tab-pane fade">
        <h3>Professional Services</h3>
          <div class="row">
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-handshake fa-3x product-icon" color="#3B6584"></i>
                <h5>Legal Services</h5>
                <p class="product-description">
                  Our professional legal services offer a wealth of financial solutions including <strong>employment labor laws</strong>, immigration services, and more.
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fas fa-binoculars fa-3x product-icon" data-fa-transform="flip-h" color="#3B6584"></i>
                <h5>Bird Watching Expertise</h5>
                <p class="product-description">
                 With our years of professional bird watching experience, you will be able to identify any bird, as long as it's a penguin, ostrich, or toucan.
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
            <div class="product-box col-sm">
              <div class="fa-2x text-center">
                <i class="fab fa-empire fa-3x product-icon" color="#3B6584"></i>
                <h5>Rebel Crushers</h5>
                <p class="product-description">
                  Having issues with rebel scum? We get it. Our trained bounty hunters and friendly Sith lords will make quick work of those pesky rebels. 
                </p>
              </div>
              <button type="button" class="btn btn-warning product-button">Learn more</button>
            </div>
          </div>  
      </div>
  </div>
</section>


<!-- Stats Section -->
<section id="stats">        
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-sm-4">
       <h3 class="display-4">100</h3>
       <p>years of software development</p>
      </div>
      <div class="col-sm-4">
        <h3 class="display-4">325 million</h3>
        <p>U.S. citizens currently supported</p>
      </div>
      <div class="col-sm-4">
        <h3 class="display-4">11 trillion</h3>
        <p>burgers sold</p>
      </div>
    </div>
  </div>
</section>

<!-- States Section -->
<%= render "partials/states" %>

<!-- Client Stories Section -->
<section id="client-stories">        
  <div class="container">
    <i class="fas fa-quote-left fa-5x float-left"></i>
    <p class="client-quote wow fadeInUp">Generic Software, Inc solved all our problems. Not just our software issues, but also my long over-looked marital problems. In addition, they showed us how to make a really lovely vinaigrette for salads. The secret is fresh lemon zest. Who knew?!</p>
    <i class="fas fa-quote-right fa-5x float-right"></i>
  </div>
</section>