<section id="welcome">
  <div class="container">
    <h2>Fast, customizable vital records solutions</h2>
    <p>Genesis Systems has specialized in vital records software for all levels of state government, hospitals/medical centers, funeral homes, and more for over 30 years! Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
</section>

<section id="solutions">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab1">
        <span>
          Vital <br> Records <br> Management
        </span></a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab2">Tab 2</a></li>
      <li class="col-sm-2 col-xs-6"><a data-toggle="tab" href="#tab3">Tab 3</a></li>
    </ul>

    <div class="tab-content">
      <div id="tab1" class="tab-pane fade in show active">
        <h3>Tab 1</h3>
        <p>Some content.</p>
      </div>
      <div id="tab2" class="tab-pane fade">
        <h3>Tab 2</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="tab3" class="tab-pane fade">
        <h3>Tab 3</h3>
        <p>Some content in menu 2.</p>
      </div>
    </div>
  </div>
</section>
        