<% content_for :head do %>
	<title>Industries We Serve: There Are Many | Generic Software, Inc.</title>
	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container industry-banner">
		<h1 class="banner-text display-3">Industries</h1>
	</div>
</section>

<section id="industry-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>Generic Software, Inc has specialized in industry software development for over 100 years. As the original developers of the modern Search Engine, our services include, but are not limited to our core industry product, data hosting and technical support at preposterously high prices. Our web-based systems serve state and federal government agencies, Fortune 500 companies, Misfortune 100 companies, as well as most child-run lemonade stands across the nation.
					<br><br>
				From development to deployment, we pride ourselves on delivering the right solutions for our clients.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<section id="industry-all">
	<div class="industry-all-box">
		<div class="product-content family">
			<div class="row">
				<div class="col-sm-6 product-text">
					<h2>Family Solutions</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://www.disney.com/" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content wedding">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Wedding Planning</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.ulc.org/" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content baby_jokes">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Jokes For Babies</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.foxnews.com" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content server">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Server Janitorial Services</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://youtu.be/-AuAyKwCziY?t=4s" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content law">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Employment Law</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.employmentlawhandbook.com/" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content pets">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Pet Photography</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://www.bbcearth.com/planetearth2/" role="button">Learn More</a>
				</div>
			</div>	
		</div>

	</div>
</section>