<% content_for :head do %>
	<title></title>
	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container affiliates-banner">
		<h1 class="banner-text display-3">Our Affiliates</h1>
	</div>
</section>

<section id="affiliates-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>We are Genesis Systems Inc. and we've been developing vital records applications for over 30 years. We actually originated the Electronic Birth Certificate (EBC) in the United States. Genesis registration systems currently supply 33% of the Birth and 25% of the Death registration data for the National Center of Health Statistics, Social Security Administration, and other government agencies. At Genesis, we are doing our part to work towards a fully integrated public health system. Our systems can fully integrate with other Electronic Medical Record systems (EMRs) to capture vital record and statistical information using IHE profiles utilizing HL7 (CDA and Messaging). Genesis Systems Inc. is the bridge between health enterprises and vital records.
					<br><br>
				From development to deployment, we pride ourselves on delivering the right solutions for our clients.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<section id="affiliates-all">
	<div class="affiliates-all-box">
		<div class="product-content go-certs">
			<div class="row">
				<div class="col-sm-6 product-text">
					<h2>GoCertificates</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.gocertificates.com/new/Index.aspx" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content nck">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>NameChangeProcess</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://namechangeprocess.com/index2.html" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content bbg">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>BabysBackground</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.babysbackground.com/GUI/Home.aspx" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content go-host">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>GoHost, LLC</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://www.gohostinfo.com/index.html" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content H-A">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Huber &#38; Associates</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="https://www.huberassociates.com/HA/Default.aspx" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content go-pets">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>GoPetCertificates</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://gopetcertificates.com/" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content go-smart">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>GoSmartAir</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://gosmartair.com/" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content prestine">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Prestine Properties</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="http://pristine-property.com/" role="button">Learn More</a>
				</div>
			</div>	
		</div>

	</div>
</section>