<% content_for :head do %>
	<title></title>
	<meta name="description" content="">
<% end %>

<!-- Banner -->
<section id="affiliates-banner">
	<div class="banner-container">
		<h1 class="banner-text display-3">Our Affiliates</h1>
	</div>
</section>

<!-- Intro -->
<section id="affiliates-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>We are Genesis Systems Inc. and we've been developing vital records applications for over 30 years. We actually originated the Electronic Birth Certificate (EBC) in the United States. Genesis registration systems currently supply 33% of the Birth and 25% of the Death registration data for the National Center of Health Statistics, Social Security Administration, and other government agencies. At Genesis, we are doing our part to work towards a fully integrated public health system. Our systems can fully integrate with other Electronic Medical Record systems (EMRs) to capture vital record and statistical information using IHE profiles utilizing HL7 (CDA and Messaging). Genesis Systems Inc. is the bridge between health enterprises and vital records.
					<br><br>
				From development to deployment, we pride ourselves on delivering the right solutions for our clients.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>