<% content_for :head do %>
	<title>Leading Generic Industry Software Development for Over 100 Years</title>
	<meta name="description" content="">
<% end %>
 
<!-- Banner -->
<section id="banner">
	<div class="banner-container about-banner">
		<h1 class="banner-text display-3">Who We Are</h1>
	</div>
</section>

<!-- Intro -->
<section id="about-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>We are Generic Software and we've been developing generic industry software for over 100 years. As the original developers of the modern Search Engine, our services include, but are not limited to our core industry product, data hosting and technical support at preposterously high prices. Our web-based systems serve state and federal government agencies, Fortune 500 companies, Misfortune 100 companies, as well as most child-run lemonade stands across the nation.
					<br><br>
				From development to deployment, we pride ourselves on delivering the right solutions for our clients.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<!-- Mission -->
<section id="about-mission">
	<div class="mission-container">
		<h2 class="display-4">Mission</h2>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>At Generic, our mission is to develop effective and efficient industry applications that improve are simply the best. And crush our enemies.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<!-- History -->
<section id="about-history">
	<div class="history-timeline">
		<h2 class="display-4">History</h2>
		<div class="founded">
			<div class="row">
				<div class="col-sm-6">
					<h3>Founded in San Jose, California</h3>
					<p>Generic Software was founded some time ago in a galaxy far far away. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-6 text-center wow fadeInDown">
					<i class="fas fa-flag fa-10x"></i>
				</div>
			</div>
		</div>
		<div class="moved">
			<div class="row">
				<div class="fa-10x wow fadeInDown moved-image-area col-sm-6">
					<i class="fas fa-home" data-fa-transform="shrink-9 up-2" data-fa-mask="fas fa-map-marker"></i>
				</div>
				<div class="col-sm-6">
					<h3>Headquarters opened in Winterfell</h3>
					<p>Generic relocates its headquarters to Winterfell for the lovely summer snows. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="expansion">
			<div class="row">
				<div class="col-sm-6 expansion-text">
					<h3>Rapid Expansion</h3>
					<p>Over the past ten decades, Generic software has opened offices across the land. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-6 expansion-map-area">
					<div class="pin-1 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="down-10 left-57"></i>
					</div>
					<div class="pin-2 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="down-25"></i>
					</div>
					<div class="pin-3 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="up-29 right-55"></i>
					</div>
					<i class="far fa-map fa-10x expansion-map" data-fa-transform="up-3.5 left-9"></i>
				</div>
			</div>
		</div>
		<div class="birthday">
			<div class="row">
				<div class="col-sm-6 birthday-image-area wow fadeInUp">
					<i class="fas fa-birthday-cake fa-10x"></i>
				</div>
				<div class="col-sm-6 birthday-text-area">
					<h3>Generic celebrates 100 years</h3>
					<p>Seriously, Party City ran out of candles after we were through with them. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="future">
			<div class="row">
				<div class="col-sm-6 future-text">
					<h3>Bright Future</h3>
					<p>As Generic continues to grow, our systems now used by pretty much every person in the United States. We're proud of our history and excited for the future.</p>
				</div>
				<div class="col-sm-6 future-image text-center wow fadeInUp">
					<i class="fas fa-rocket fa-10x"></i>
				</div>
			</div>
		</div>
	</div>
</section>