<!-- Banner -->
<section id="about-banner">
	<div class="banner-container">
		<h1 class="banner-text display-3">Who We Are</h1>
	</div>
</section>

<!-- Intro -->
<section id="about-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p> We are Genesis Systems Inc. and we've been developing vital records applications for over 30 years. We actually originated the Electronic Birth Certificate (EBC) in the United States. Genesis registration systems currently supply 33% of the Birth and 25% of the Death registration data for the National Center of Health Statistics, Social Security Administration, and other government agencies. At Genesis, we are doing our part to work towards a fully integrated public health system. Our systems can fully integrate with other Electronic Medical Record systems (EMRs) to capture vital record and statistical information using IHE profiles utilizing HL7 (CDA and Messaging). Genesis Systems Inc. is the bridge between health enterprises and vital records.
					<br><br>
				From development to deployment, we pride ourselves on delivering the right solutions for our clients.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<!-- Mission -->
<section id="about-mission">
	<div class="mission-container">
		<h2 class="display-4">Mission</h2>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-8">
				<p>At Genesis, our mission is to develop effective and efficient vital record/statistical applications that improve the accuracy and quality of vital records data. Our goal is to provide empirically correct statistical information that enhances the decision making process.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<!-- History -->
<section id="about-history">
	<div class="history-timeline">
		<h2 class="display-4">History</h2>
		<div class="founded">
			<div class="row">
				<div class="col-sm-6">
					<h3>Founded in Lewistown, Pennsylvania</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-6 text-center wow fadeInDown">
					<i class="fas fa-flag fa-10x"></i>
				</div>
			</div>
		</div>
		<div class="moved">
			<div class="row">
				<div class="fa-10x wow fadeInDown moved-image-area col-sm-6">
					<i class="fas fa-home" data-fa-transform="shrink-9 up-2" data-fa-mask="fas fa-map-marker"></i>
				</div>
				<div class="col-sm-6">
					<h3>Moved headquarters to Harrisburg</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="expansion">
			<div class="row">
				<div class="col-sm-6 expansion-text">
					<h3>Locations opened in Austin, Texas & Denver, Colorado</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-6 expansion-map-area">
					<div class="pin-1 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="down-10 left-57"></i>
					</div>
					<div class="pin-2 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="down-25"></i>
					</div>
					<div class="pin-3 wow bounceInDown">
						<i class="fas fa-map-pin" data-fa-transform="up-29 right-55"></i>
					</div>
					<i class="far fa-map fa-10x expansion-map" data-fa-transform="up-3.5 left-9"></i>
				</div>
			</div>
		</div>
		<div class="birthday">
			<div class="row">
				<div class="col-sm-6 birthday-image-area wow fadeInUp">
					<i class="fas fa-birthday-cake fa-10x"></i>
				</div>
				<div class="col-sm-6 birthday-text-area">
					<h3>Genesis celebrates 30 years</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="future">
			<div class="row">
				<div class="col-sm-6 future-text">
					<h3>Bright Future</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="col-sm-6 future-image text-center wow fadeInUp">
					<i class="fas fa-rocket fa-10x"></i>
				</div>
			</div>
		</div>
	</div>
</section>