<!-- Banner -->
<section id="contact-banner">
	<div class="banner-container">
		<h1 class="banner-text display-3">Contact Us</h1>
	</div>
</section>

<!-- Contact Main-->
<section id="contact-main">
	<div class="container">
		<div class="row">
			<div class="col-sm contact-main-text">
				<h2 class="display-2">How can we help?</h2>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm contact-main-form">
				<form class="contact-us-form">
				  <div class="form-row">
				   	<div class="form-group col-md-6">
				      <label for="inputNameFirst"></label>
				      <input type="text" class="form-control" id="inputNameFirst" placeholder="First Name*">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputNameLast"></label>
				      <input type="text" class="form-control" id="inputNameLast" placeholder="Last Name*">
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="inputCompany"></label>
				    <input type="text" class="form-control" id="inputCompany" placeholder="Company/Organization*">
				  </div>

				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputEmail"></label>
				      <input type="email" class="form-control" id="inputEmail" placeholder="Email*">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPhone"></label>
				      <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
				    </div>   
				  </div>

				  <div class="form-group">
				    <label for="inputMessage"></label>
				    <textarea type="text" class="form-control" id="textareaCompany" placeholder="Message" rows="4"></textarea>
				  </div>

				  <button type="submit" class="btn btn-warning contact-form-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- Locations -->
<section id="locations">
	<div class="container">
		<div class="row">
			<div class="col-sm location-card">
				<h4>Harrisburg, Pennsylvania</h4>
				<hr>
				<p>
					3601 N. Progress Ave. Suite 200 
					<br>
					Harrisburg, PA 17110
					<br><br>
					Phone: 717-540-1880
					<br>
					Fax: 717-541-9217
				</p>
			</div>
			<div class="col-sm location-card">
				<h4>Lewistown, Pennsylvania</h4>
				<hr>
				<p>
					14 East Third St. P.O. Box 948
					<br>
					Lewistown, PA 17044
					<br><br>
					Phone: 717-248-3334
					<br>
					Fax: 717-248-0900
				</p>
			</div>
			<div class="col-sm location-card">
				<h4>Austin, Texas</h4>
				<hr>
				<p>
					1120 Cottonwood Creek Trail
					<br>
					Building B-Suite 240 
					<br>
					Cedar Park, TX 78613
					<br><br>
					Phone: 717-909-8557
				</p>
			</div>
		</div>
	</div>
</section>