<% content_for :head do %>
	<title>Contact Us | Generic Software</title>
	<meta name="description" content="Contact Generic Software for information on anything you want and more. Generic has been developing vital records software for over 100 years. ">
<% end %>

<!-- Banner -->
<section id="banner">
	<div class="banner-container contact-banner">
		<h1 class="banner-text display-3">Contact Us</h1>
	</div>
</section>

<!-- Contact Main-->
<section id="contact-main">
	<div class="container">
		<div class="row">
			<div class="col-sm contact-main-text">
				<h2 class="display-1">How can we help?</h2>
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm contact-main-form">
				<form class="contact-us-form">
				  <div class="form-row">
				   	<div class="form-group col-md-6">
				      <label for="inputNameFirst"></label>
				      <input type="text" class="form-control" id="inputNameFirst" placeholder="First Name*">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputNameLast"></label>
				      <input type="text" class="form-control" id="inputNameLast" placeholder="Last Name*">
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="inputCompany"></label>
				    <input type="text" class="form-control" id="inputCompany" placeholder="Company/Organization*">
				  </div>

				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="inputEmail"></label>
				      <input type="email" class="form-control" id="inputEmail" placeholder="Email*">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="inputPhone"></label>
				      <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
				    </div>   
				  </div>

				  <div class="form-group">
				    <label for="inputMessage"></label>
				    <textarea type="text" class="form-control" id="textareaCompany" placeholder="Message" rows="4"></textarea>
				  </div>

				  <button type="submit" class="btn btn-warning contact-form-submit text-muted">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- Locations -->
<section id="locations">
	<div class="container">
		<div class="row">
			<div class="col-sm location-card">
				<h4 class="display-4">Winterfell</h4>
				<hr>
				<p>
					<a href="https://www.google.com/maps/place/Lincoln+Financial+Field/@39.9007715,-75.1696522,17z/data=!3m1!4b1!4m5!3m4!1s0x89c6c5ed6a50daaf:0xe01f1b45e49fbe99!8m2!3d39.9007674!4d-75.1674635">123 Paper Street, Suite 101
					<br>
					Winterfell, CA 95120</a>
					<br><br>
					<a href="tel:1-323-710-2707">Phone: 323-867-5309
					<br>
					Fax: 323-867-5308
				</p>
			</div>
			<div class="col-sm location-card">
				<h4 class="display-4">Narnia</h4>
				<hr>
				<p>
					<a href="https://www.google.com/maps/place/Bermuda+Triangle/@24.9999986,-71.0175096,14z/data=!3m1!4b1!4m5!3m4!1s0x89451ab5034cb7ab:0xb600ecf3df7aca4d!8m2!3d25!4d-71">645 South Wardrobe Lane, Suite 568
					<br>
					Narnia, Kansas 66546</a>
					<br><br>
					<a href="tel:1-323-710-2707">Phone: 323-123-4567</a>
					<br>
					Fax: 323-123-4568
				</p>
			</div>
			<div class="col-sm location-card">
				<h4 class="display-4">Los Angeles</h4>
				<hr>
				<p>
					<a href="https://www.google.com/maps/place/Seven+Grand/@34.047132,-118.2580021,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c7b454a9e377:0x3ec4bf9189c57727!8m2!3d34.047132!4d-118.2558134">515 W 7th Street, Suite 200 
					<br>
					Los Angeles, CA 90014</a>
					<br><br>
					<a href="tel:1-213-614-0736">Phone: 213-614-0736</a>
					<br>
					Fax: 213-614-0737
				</p>
			</div>
		</div>
	</div>
</section>