//Much of the css for the affiliates page is on the solutions css page

.affiliates-banner {
  background:  linear-gradient(
      rgba(66, 134, 244, 0.8), 
      rgba(66, 134, 244, 0.8)
    ), image-url("medical_records.jpg") fixed center center;
  
}

#affiliates-all .go-certs, .bbg, .H-A, .go-smart {
	background-color: #DCDCDC;
}

#affiliates-all .nck, .go-host, .go-pets, .prestine {
	background-color: #C1C1C1;
}

.go-certs .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.nck .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.go-host .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.bbg .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.H-A .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.go-pets .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.go-smart .product-image {
	background: image-url("servers.jpg") no-repeat;
}

.prestine .product-image {
	background: image-url("servers.jpg") no-repeat;
}
