//Much of the css for the industry page is on the solutions css page

.industry-banner {
  background:  linear-gradient(
      rgba(66, 134, 244, 0.8), 
      rgba(66, 134, 244, 0.8)
    ), image-url("network2.jpg") fixed center center;
  
}

#industry-all .family, .baby_jokes, .law {
	background-color: #DCDCDC;
}

#industry-all .wedding, .server, .pets {
	background-color: #C1C1C1;
}

.family .product-image {
	background: image-url("family.jpg") no-repeat;
}

.wedding .product-image {
	background: image-url("vows.jpg") no-repeat;
}

.server .product-image {
	background: image-url("server2.jpg") no-repeat;
}

.baby_jokes .product-image {
	background: image-url("baby.jpg") no-repeat;
}

.law .product-image {
	background: image-url("calc.jpg") no-repeat;
}

.pets .product-image {
	background: image-url("pets.jpg") no-repeat;
}

