body {
  margin-top: 50px;
  // font-family: 'Raleway', sans-serif;
  // p {
  //   font-family: 'Lato', sans-serif;
  // }
}

// --------------------------------------------
// Hero 
// --------------------------------------------

#hero {
  display: table;
  width: 100%;
  height: 80vh;
  background-size: cover;

	h1 {
		margin: 50px;
	} 
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

}

#hero .video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -100;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 overflow: hidden;
}

#hero .intro {
  text-align: center;
  color: #fff;
  font-weight: 500;
}

#hero .modal-button {
  opacity: 0.8;
  margin: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  color: white;
}

// --------------------------------------------
// Navbar
// --------------------------------------------

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// --------------------------------------------
// Page Banner
// --------------------------------------------

#banner {
  display: table;
  width: 100%;
  height: 50vh;
  overflow: hidden;  
}

.banner-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-size: cover;
  transition: all .5s;
}

#banner .banner-text { 
  text-align: center;
  vertical-align: middle;
  transition: all .5s;
}

// banner zoom
$zoomAmount: 1.1;

#banner:hover .banner-container,
#banner:focus .banner-container {
  transform: scale($zoomAmount);
  .banner-text { 
      transform: scale(1/$zoomAmount) //offset scale effect
    }
}

// --------------------------------------------
// Welcome 
// --------------------------------------------

#welcome {
  display: table;
  width: 100%;
  background-color: #f7f7f7;
  background-size: cover
}

#welcome .container {
  display: table-cell;
  width: 100%;
  background-size: cover;
  padding: 60px;
  font-size: 1.3em;

  p {
  padding-right: 30%;
  }

}


// --------------------------------------------
// Solutions 
// --------------------------------------------


#solutions {
  display: table;
  background-size: cover;
  width: 100%;
  background-color: #DDE4E9;
}

#solutions h3, h5 {
  text-align: center;
  padding: 10px;
}

#solutions .container {
  display: table-cell;
  width: 100%;
  background-size: cover;
  padding: 20px;
  color: #3B6584;

}

#solutions .nav {
  margin: 2% 7% 0 7%;
}

#solutions .nav li {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  padding: 30px 10px 30px 10px;
  background-color: #EAF2F8;
  border-right: 1.5px solid #DDE4E9;
  border-radius: 2px;

  a {
    color: #3B6584;
    text-decoration: none;
  }
}

#solutions li.active {
  background-color: #3B6584;
  a {
    color: white;
    text-decoration: none;
  }
}

#solutions .tab-content {
  margin: 0 7% 0 7%;

  h3 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    background-color: #EAF2F8;
    color: #3B6584;
  }

  .product-box {
    margin: 14px;
    min-height: 370px;
    background-color: #EAF2F8;
    text-align: center;
  }
}

#solutions .product-icon {
  margin: 30px;
}

#solutions .product-description {
  font-size: 0.45em;
}

// --------------------------------------------
// Stats 
// --------------------------------------------

#stats {
  display: block;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), image-url("test.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
  background-size: cover;
  text-align: center;
}

#stats .container {
  padding: 60px;

}

// --------------------------------------------
// States
// --------------------------------------------
#states {
  background-color: white;
}

#states .container {
  padding: 30px;
}

#states .carousel-item {
  max-height: 155px;
  max-width: 155px;
  margin: 0 auto; 
}

#states h4 {
  text-align: center;
}

// --------------------------------------------
// Client-Stories
// --------------------------------------------

#client-stories {
  display: block;
  background: linear-gradient(rgba(66, 134, 244, 0.8), rgba(66, 134, 244, 0.8)), image-url("discussion.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
  text-align: center;
  color: white;

  .client-quote {
    margin: 30px;
    font-size: 1.5em;
  }
}

#client-stories .container {
  padding: 60px;
}


// --------------------------------------------
// Footer
// --------------------------------------------

#footer {
  padding: 90px 30px 30px 30px;
  background-color: #1c283a;
  color: white;
}

#footer h5 {
  text-align: left;
  padding: 0;
}

#footer .headquarters {
  font-weight: lighter;
}

#footer .legal {
  text-align: center;
  margin-top: 70px;
}

#footer a {
  color: white;
  text-decoration: none;
}
  
#footer a:hover {
    opacity: 0.7;
}

// --------------------------------------------
// Back to top button
// --------------------------------------------

.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}



// --------------------------------------------
// Contact Us Bar & Modal
// --
a.contact-us-link:hover {
  text-decoration: none;
  #contact-us {
      transition: background .3s ease-in;
      background: #cc8400;
  }
}

#contact-us {
  display: table;
  width: 100%;
  color: black;
  background-color: orange;
  background-size: cover;
  transition: background .3s ease-out;
}

#contact-us .container {
  display: table-cell;
  margin: 60px;
  padding: 30px;
    h3 {
    text-align: center;
    color: white;
  }
}
.contact-modal .modal-header {
  margin-bottom: 10px;
}

.contact-modal .md-form {
  margin-top: -20px;
}

.contact-modal .modal-footer {
  margin-top: -40px;
}

// ------------------
// Legal
// ------------------
.legal-banner {
  background: linear-gradient(to right, rgba(199, 0, 57, 0.05),rgba(199, 0, 57, 0.5)), image_url("lodyas.png") repeat;
}

#legal .container {
  padding: 30px 0;
  width: 100;
  background-size: cover;

}