// --------------------------------------------
// Hero 
// --------------------------------------------

#hero {
  display: table;
  width: 100%;
  height: 85vh;
  background-size: cover;

	h1 {
		margin: 50px;
	} 
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;

}

#hero .video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -100;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

#hero .intro {
  text-align: center;
  color: white;
}

// --------------------------------------------
// Welcome 
// --------------------------------------------

#welcome {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  background-size: cover
}

#welcome .container {
  display: table-cell;
  margin: 60px;
  padding: 60px;

}


// --------------------------------------------
// Solutions 
// --------------------------------------------


#solutions {
  display: table;
  width: 100%;
  background-color: #DDE4E9;
}

#solutions h3, h5 {
  text-align: center;
  padding: 10px;
}

#solutions .container {
  display: table-cell;
  margin: 0 40px 0 40px;
  padding: 20px;
  color: #3B6584;

}

#solutions .nav {
  margin: 2% 7% 0 7%;
}

#solutions .nav li {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  padding: 30px 10px 30px 10px;
  background-color: #EAF2F8;
  border-right: 1.5px solid #DDE4E9;
  border-radius: 2px;

  a {
    color: #3B6584;
    text-decoration: none;
  }
}

#solutions li.active {
  background-color: #3B6584;
  a {
    color: white;
    text-decoration: none;
  }
}

#solutions .tab-content {
  margin: 0 7% 0 7%;

  h3 {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    background-color: #EAF2F8;
    color: #3B6584;
  }

  .product-box {
    margin: 14px;
    min-height: 370px;
    background-color: #EAF2F8;
    text-align: center;
  }
}

#solutions .product-icon {
  margin: 30px;
}

#solutions .product-button {
  display: table-cell;
  vertical-align: bottom;
}

#solutions .product-description {
  font-size: 0.45em;
}

// --------------------------------------------
// Stats 
// --------------------------------------------

#stats {
  display: block;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), image-url("test.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
  background-size: cover;
  text-align: center;
}

#stats .container {
  padding: 60px;

}

// --------------------------------------------
// States
// --------------------------------------------
#states {
  background-color: white;
}

#states .container {
  padding: 30px;
}

#states .carousel-item {
  max-height: 155px;
  max-width: 155px;
  margin: 0 auto; 
}

#states h4 {
  text-align: center;
}

// --------------------------------------------
// Client-Stories
// --------------------------------------------

#client-stories {
  display: block;
  background: linear-gradient(rgba(66, 134, 244, 0.8), rgba(66, 134, 244, 0.8)), image-url("discussion.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
  text-align: center;
  color: white;

  .client-quote {
    margin: 30px;
    font-size: 1.5em;
  }
}

#client-stories .container {
  padding: 60px;
}


// --------------------------------------------
// Footer
// --------------------------------------------

#footer {
  padding: 90px 30px 30px 30px;
  background-color: #1c283a;
  color: white;
}

#footer h5 {
  text-align: left;
  padding: 0;
}

#footer .headquarters {
  font-weight: lighter;
}

#footer .legal {
  text-align: center;
  margin-top: 70px;
}

#footer a {
  color: white;
}

// --------------------------------------------
// Back to top button
// --------------------------------------------

.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}



// --------------------------------------------
// Contact Us
// --
a.contact-us-link:hover {
  text-decoration: none;
  #contact-us {
      transition: background .3s ease-in;
      background: #cc8400;
  }
}

#contact-us {
  display: table;
  width: 100%;
  color: black;
  background-color: orange;
  background-size: cover;
  transition: background .3s ease-out;
}

#contact-us .container {
  display: table-cell;
  margin: 60px;
  padding: 30px;
    h3 {
    text-align: center;
    color: white;
  }
}
