// --------------------------------------------
// Hero 
// --------------------------------------------

#hero {
  display: table;
  width: 100%;
  height: 85vh;
  background-color: #91bcbc;
  background-size: cover;

	h1 {
		margin: 50px;
	} 
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

// --------------------------------------------
// Welcome 
// --------------------------------------------

#welcome {
  display: block;
  width: 100%;
  background-color: #dee0e0;
  background-size: cover
}

#welcome .container {
  display: table-cell;
  margin: 60px;
  padding: 60px;

}


// --------------------------------------------
// Solutions 
// --------------------------------------------


#solutions {
  display: table;
  width: 100%;
  background-color: #a4bce8;
}

#solutions h3, h4 {
  text-align: center;
  padding: 10px;
}

#solutions .container {
  display: table-cell;
  margin: 20px;
  padding: 20px;

}

#solutions .tab-content {
  padding: 10px;

  .row {
    margin: 10px;
  }

  .product-box {
    margin: 10px;
    min-height: 400px;
  }
}

#solutions .tab-pane {
  background-color: #dee0e0; 
  opacity: 30%;
}


#solutions .nav li {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  padding: 20px;
  marign: 20px;
  background-color: #dee0e0;
  border-right: 1px solid #a4bce8;
  border-radius: 4px;

  a {
    color: #4179e0;
  }
}

#solutions li.active {
  background-color: #4179e0;
  a {
    color: white;
  }
}


// --------------------------------------------
// Stats 
// --------------------------------------------

#stats {
  display: block;
  width: 100%;
  background-color: #dee0e0;
  background-size: cover
}

#stats .container {
  display: table-cell;
  margin: 60px;
  padding: 60px;

}