// ===============================
// Banner
// ===============================

.solutions-banner {
  background:  linear-gradient(
      rgba(66, 134, 244, 0.8), 
      rgba(66, 134, 244, 0.8)
    ), image-url("medical_records.jpg") fixed center center;
  background-position-y: bottom;
}

#solutions-intro, #affiliates-intro {
  width: 100%;
  background-size: cover;
  padding: 50px;
}

#solutions-all, #affiliates-all {
  width: 100%;
  background-size: cover;
}

#solutions-all .solutions-all-box, #affiliates-all .affiliates-all-box {
  padding: 0;
  margin: 0;
}

#solutions-all, #affiliates-all .product-content {
  width: 100%;
  height: 50%;
  overflow: hidden;

  h2  {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 3em;
  }

  a {
    margin-bottom: 2px;
  }
}

#solutions-all .product-content .row, #affiliates-all .product-content .row {
  width: 100%;
  padding: 0;
  margin: 0;
}

#solutions-all .vital-records, .technical-support {
  background-color: #DCDCDC;
}

.vital-records .product-image {
  background: image-url("medical_records.jpg") no-repeat;
}

#solutions-all .data-hosting, .affiliates {
  background-color: #C1C1C1;
}

.data-hosting .product-image {
  background: image-url("servers.jpg") no-repeat;
}

.technical-support .product-image {
  background: image-url("it-support.jpg") no-repeat;
}

.affiliates .product-image {
  background: image-url("network.jpg") no-repeat;

}

#solutions-all .product-text, #affiliates-all .product-text {
  padding: 2% 10%;
}

#solutions-all .product-image, #affiliates-all .product-image {
  height: 50vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  transition: all .25s;
  // background-position-y: bottom;

}

.product-image:hover {
  // opacity: 0.7;
  filter:brightness(130%);
}
