<% content_for :head do %>
	<title></title>
	<meta name="description" content="">
<% end %>

<!-- Banner -->
<section id="module-banner">
	<div class="module-banner-container birth-banner">
		<h1 class="module-banner-text display-3">Module: Birth</h1>
	</div>

</section>

<!-- Mini Nav -->
<%= render "partials/module_mini_nav" %>

<section id="overview" class="birth">
	<div class="container">

	</div>
</section>

<section id="features" class="birth">
	<div class="container">
		
	</div>
</section>

<%= render "partials/module_cards" %>