<% content_for :head do %>
	<title></title>
	<meta name="description" content="">
<% end %>

<!-- Banner -->
<section id="banner">
	<div class="banner-container birth-banner">
		<h1 class="banner-text display-3">Birth</h1>
	</div>
</section>