<% content_for :head do %>
  <title> | Genesis Systems Inc</title>
  <meta name="description" content="">
<% end %>

<!-- banner -->
<section id="banner">
	<div class="banner-container data-hosting-banner">
		<h1 class="banner-text display-3" style="font-weight: 400;">Data hosting,<br>done right</h1>
	</div>
</section>

<!-- Overview -->
<section id="overview">
	<div class="container data-hosting-overview">
		<h2 class="display-4 vr-title">Overview</h2>
		<div class="row">
			<div class="col-md-7 text">
				<h3 class="display-4">GoHost, LLC</h3>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
				<ul>
					<li><h4>Enterprise Level Solutions</h4></li>
						<p>Comprehensive hosting services for enterprise level systems with flexibile plans and a 99.9% uptime guarantee. Need help getting set up? Let us create a custom strategy for your infrastructure, systems, disaster recovery design &#38; implementation.</p>
					<li><h4>Secure</h4></li>
						<p>State of the art data center protected by multifactor authentication entry points, 24/7 system monitoring with customizable alerts and thresholds, fully redundant systems with failover capacity from production environment, and more.</p>
					<li><h4>Disaster Recovery</h4></li>
						<p>Peace of mind knowing that in the event of a disaster your data processing can continue virtually uninterrupted. Our hosting experts leverage years of experience to meet your infrastructure requirements.</p>
				</ul>
			<a class="btn btn-warning btn-lg" href="http://www.gohostinfo.com/index.html" role="button">Learn More</a>
			</div>
			<div class="col-md vr-image-area">
				<%= image_tag("server-room-guy") %>
			</div>
		</div>
	</div>
</section>

<!-- Features -->
<section id="features">
	<div class="container">
		<h2 class="display-4 vr-title">Features</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		
	</div>	
</section>