<section id="solutions-banner">
	<div class="banner-container">
		<h1 class="banner-text display-3">Solutions</h1>
	</div>
</section>

<!-- ===============================
Products Section
=============================== -->
<section id="solutions-all">
	<div class="container">
		<h2 class="wow fadeInUp">Products & Services built to increase productivity</h2>
		<h2 class="display-4"></h2>
		<div class="row">
			<div class="solutions-box col-sm">
				<h3>Vital Records Software</h3>
				<p>Integration</p>
				<ul>
					<li>Birth</li>
					<li>Death</li>
					<li>Marriage</li>
					<li>Divorce</li>
					<li>ITOP</li>
					<li>Fetal Death</li>
				</ul>
			</div>
			<div class="solutions-box col-sm">
				<p>Box Two</p>
			</div>
			<div class="solutions-box col-sm">
				<p>Box Three</p>
			</div>
		</div>
	</div>
</section>