<section id="solutions-banner">
	<div class="banner-container">
		<h1 class="banner-text display-3">Solutions</h1>
	</div>
</section>

<!-- ===============================
Products Section
=============================== -->
<section id="solutions-all">
	<div class="container">
		<h2 class="display-4 wow fadeInUp">Products &#38; Services</h2>
		<div class="row">
			<div class="col-sm"></div>
			<div class="solutions-intro col-sm-8 wow fadeInUp">
				<p>For over 30 years, Genesis Systems Inc. has been developing enterprise-level, electronic vital records solutions for use by the Department of Health ("DOH") and local health departments throughout the nation. System users include the general public, hospital staff and physician’s funeral directors, coroners, DOH and local government staff, celebrants, and court system users. As we've grown, so has our expertise, allowing us to provide an array of other products and services. </p>
			</div>
			<div class="col-sm"></div>
		</div>
		
		<div class="solution-card-area">
			<div class="row">
				<div class="solutions-card col-md wow fadeInUp">
					<h3>Vital Records Applications</h3>
					<hr>
					<p>Easy to implement, customizable solutions for government, hospitals, medical centers, funeral homes, and more. Available modules for:</p>
					<ul>
						<li>Birth</li>
						<li>Death</li>
						<li>Marriage</li>
						<li>Divorce</li>
						<li>Fetal Death</li>
						<li>ITOP</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
				<div class="solutions-card col-md wow fadeInUp">
					<h3>Data Hosting</h3>
					<hr>
					<p>Secure hosting services for enterprise level systems with flexibile plans and a 99.9% uptime guarantee. Take advantage of our strategies for:</p>
					<ul>
						<li>Infrastructure</li>
						<li>Data Systems</li>
						<li>Design</li>
						<li>Implementation</li>
						<li>Monitoring</li>
						<li>Disaster Recovery</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
				<div class="solutions-card col-md wow fadeInUp">
					<h3>IT Support</h3>
					<hr>
					<p>Enjoy peace of mind with options for unlimited access 24/7 to our experienced support specialists.</p>
					<ul>
						<li>Quick Responses</li>
						<li>Fast Results</li>
						<li>Various Plan Options</li>
						<li>Technical Expertise</li>
						<li>Friendly Specialists</li>
						<li>Peace Of Mind</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
			</div>
			<div class="row">
				<div class="solutions-card col-md wow fadeInUp">
					<h3>Accounting Services</h3>
					<hr>
					<p>Quality, cost-effective tax, accounting, auditing and financial services with Huber &#38; Associates. Services include:</p>
					<ul>
						<li>Tax</li>
						<li>Audit</li>
						<li>Consulting</li>
						<li>Bookkeeping</li>
						<li>Mergers &#38; Acquisitions</li>
						<li>Litgation Support &#38; More</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
				<div class="solutions-card col-md wow fadeInUp">
					<h3>Private Planes</h3>
					<hr>
					<p>With GoSmartAir you can enjoy the convenience and luxury of flying on your own private aircraft, without the usual private plane price tag.</p>
					<ul>
						<li>Fast</li>
						<li>Affordable</li>
						<li>Convenient</li>
						<li>Luxurious</li>
						<li>Safe</li>
						<li>Control</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
				<div class="solutions-card col-md wow fadeInUp">
					<h3>Property Management</h3>
					<hr>
					<p>Prestine Property takes the headache out of managing your properties. Our experienced staff can also help connect you with the right space to meet your needs. Services include:</p>
					<ul>
						<li>Property Rentals</li>
						<li>Landscaping</li>
						<li>Maintenance</li>
						<li>Snow Removal</li>
						<li>Renovations</li>
						<li>Additions &#38; More</li>
					</ul>
					<button type="button" class="card-button btn btn-outline-warning btn-lg btn-block">Learn More</button>
				</div>
			</div>
		</div>	
	</div>
</section>