<% content_for :head do %>
	<title>Customizable Solutions | Generic Software</title>
  	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container solutions-banner">
		<h1 class="banner-text display-3">Solutions</h1>
	</div>
</section>

<section id="solutions-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-7">
				<p>Generic Software has specialized in industry software development for over 100 years. As the original developers of the modern Search Engine, our services include, but are not limited to our core industry product, data hosting and technical support at preposterously high prices. Our web-based systems serve state and federal government agencies, Fortune 500 companies, Misfortune 100 companies, as well as most child-run lemonade stands across the nation.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<section id="solutions-all">
	<div class="solutions-all-box">
		<div class="product-content medical">
			<div class="row">
				<div class="col-sm-6 product-text">
					<h2>Medical Services</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/core" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content data-hosting">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Data Hosting</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/data-hosting" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content technical-support">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Technical Support</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboproident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/technical-support" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content industry">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>All Industries</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/industries" role="button">Learn More</a>
				</div>
			</div>	
		</div>
	</div>
</section>