<!-- tags -->
<% content_for :head do %>
	<title></title>
  	<meta name="description" content="">
<% end %>

<section id="banner" style="height: 70vh;">
	<div class="banner-container solutions-banner">
		<h1 class="banner-text display-3">Solutions</h1>
	</div>
</section>
