<% content_for :head do %>
	<title>Customizable Solutions | Genesis Systems Inc.</title>
  	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container solutions-banner">
		<h1 class="banner-text display-3">Solutions</h1>
	</div>
</section>

<section id="solutions-intro">
	<div class="intro-container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-7">
				<p>For over 30 years, Genesis Systems Inc. has been developing enterprise-level, vital records software for State and county level Departments of Health throughout the nation. System users include the general public, hospital staff and physician’s funeral directors, coroners, DOH and local government staff, celebrants, and court system users. As we've grown, our industry expertise has allowed us to offer additional services, backed by the Genesis reputation.</p>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</section>

<section id="solutions-all">
	<div class="solutions-all-box">
		<div class="product-content vital-records">
			<div class="row">
				<div class="col-sm-6 product-text">
					<h2>Vital Records</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eniulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/vital-records" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content data-hosting">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Data Hosting</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisroident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/data-hosting" role="button">Learn More</a>
				</div>
			</div>	
		</div>

		<div class="product-content technical-support">
			<div class="row">
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Technical Support</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboproident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/solutions/technical-support" role="button">Learn More</a>
				</div>
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
			</div>
		</div>

		<div class="product-content affiliates">
			<div class="row">
				<div class="col-sm-6 d-none d-sm-block product-image"></div>
				<div class="col-sm-6 product-text wow fadeInUp">
					<h2>Our Affiliates</h2>
					<hr>
					<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
					<a class="btn btn-warning btn-lg btn-block" href="/affiliates" role="button">Learn More</a>
				</div>
			</div>	
		</div>
	</div>
</section>