<% content_for :head do %>
	<title></title>
	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container security-banner">
		<h1 class="banner-text display-3">Security &#38; Compliance</h1>
</section>