<% content_for :head do %>
	<title>IT Support | Generic Software</title>
	<meta name="description" content="">
<% end %>

<section id="banner">
	<div class="banner-container technical-support-banner">
		<h1 class="banner-text display-3">Technical Support</h1>
	</div>
</section>

<h1 class="display-1 text-center">Coming Soon</h1>