<% content_for :head do %>
  <title>Customizable Vital Records Solutions | Genesis Systems Inc</title>
  <meta name="description" content="Genesis Systems Inc. has been a Vital Records software pioneer for over 30 years! Discover what our COTS products can do for you.">
<% end %>

<!-- banner -->
<section id="banner">
	<div class="banner-container vital-records-banner">
		<h1 class="banner-text display-4">Vital records software<br>built by industry experts</h1>
	</div>
</section>

<!-- mini nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-mini">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mini" aria-controls="navbar-mini" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbar-mini">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#vr-overview">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#vr-features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#vr-modules">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/interoperability">Interoperability</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/security-and-compliance">Security &#38; Compliance</a>
      </li>
    </ul>
  </div>
</nav>

<section id="vr-overview">
	<h2>Overview</h2>
</section>

<section id="vr-features">
	<h2>Features</h2>
</section>

<section id="vr-modules">
	<h2>Suite of Modules</h2>
</section>