<% content_for :head do %>
  <title>Customizable Vital Records Solutions | Genesis Systems Inc</title>
  <meta name="description" content="Genesis Systems Inc. has been a Vital Records software pioneer for over 30 years! Discover what our COTS products can do for you.">
<% end %>

<!-- banner -->
<section id="banner">
	<div class="banner-container vital-records-banner">
		<h1 class="banner-text display-4">Vital records solutions<br>built by industry experts</h1>
	</div>
</section>

<!-- mini nav -->
<nav class="navbar navbar-expand-md navbar-light bg-light navbar-mini">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mini" aria-controls="navbar-mini" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbar-mini">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#vr-overview">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#how_it_works">How It Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#vr-features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#modules">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#faq-vr">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/interoperability">Interoperability</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solutions/vital-records/security-and-compliance">Security &#38; Compliance</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Overview -->
<section id="overview">
	<div class="container">
		<h2 class="display-4 vr-title">Overview</h2>
		<div class="row">
			<div class="col-md-7">
				<h3>TEXT</h3>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
				<ul>
					<li>Configuration</li>
						<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<li><a href="/solutions/vital-records/interoperability">Interoperability</a></li>
						<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<li><a href="/solutions/vital-records/security-and-compliance">Security &#38; Compliance</a></li>
					<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</ul>
			</div>
			<div class="col-md vr-image-area">
				<%= image_tag("vr-overview") %>
			</div>
		</div>
	</div>
</section>

<!-- How It Works -->
<section id="how_it_works">
	<div class="container">
		<h2 class="display-4 vr-title">How It Works</h2>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		<div class="row">
			<div class="col-sm text-center">
				<i class="fas fa-cube fa-6x"></i>
				<p>Core <br>
					
				</p>
			</div>
			<div class="col-sm text-center">
				<i class="fas fa-cubes fa-6x"></i>
				<p>Build</p>
			</div>
			<div class="col-sm text-center">
				<i class="fas fa-wrench fa-6x"></i>
				<p>Customize</p>
			</div>
			<div class="col-sm text-center">
				<i class="fas fa-dolly fa-6x"></i>
				<p>Implement</p>
			</div>
			<div class="col-sm text-center">
				<i class="far fa-thumbs-up fa-6x"></i>
				<p>Success</p>
			</div>
		</div>
	</div>
</section>

<!-- Features -->
<section id="vr-features">
	<div class="container">
		<h2 class="display-4 vr-title">Features</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
		<div class="row">
			<div class="feature-list col-md">
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>A</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>B</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>C</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>D</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>E</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>F</li>
				</ul>
			</div>
			<div class="col-md-2"></div>
			<div class="feature-list  col-md" >
				<ul class="fa-ul">
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>A</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>B</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>C</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>D</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>E</li>
					<li><span class="fa-li"><i class="fas fa-check" style="color: green;"></i></span>F</li>
				</ul>
			</div>
		</div>
	</div>	
</section>

<!-- Modules -->
<%= render "partials/module_cards" %>

<!-- States Section -->
<%= render "partials/states" %>

<!-- FAQ -->
<section id="faq-vr">
	<div class="container">
		<h2 class="display-4 vr-title">FAQ</h2>
		<div class="row">
			<!-- Question tabs -->
			<div class="nav flex-column nav-pills col-md-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

			  <a class="nav-link active wow fadeInUp" id="v-question-1-tab" data-toggle="pill" href="#v-question-1" role="tab" aria-controls="v-question-1" aria-selected="true">Question 1- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</a>

			  <a class="nav-link wow fadeInUp" id="v-question-2-tab" data-toggle="pill" href="#v-question-2" role="tab" aria-controls="v-question-2" aria-selected="false">Question 2- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</a>

			  <a class="nav-link wow fadeInUp" id="v-question-3-tab" data-toggle="pill" href="#v-question-3" role="tab" aria-controls="v-question-3" aria-selected="false">Question 3- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</a>

			  <a class="nav-link wow fadeInUp" id="v-question-4-tab" data-toggle="pill" href="#v-question-4" role="tab" aria-controls="v-question-4" aria-selected="false">Question 4- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor?</a>
			</div>
			<!-- Answers -->
			<div class="tab-content col-md wow fadeInUp" id="v-pills-tabContent">

			  <div class="tab-pane fade show active" id="v-question-1" role="tabpanel" aria-labelledby="v-question-1-tab">Answer 1 - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>

			  <div class="tab-pane fade" id="v-question-2" role="tabpanel" aria-labelledby="v-question-2-tab">Answer 2 - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>

			  <div class="tab-pane fade" id="v-question-3" role="tabpanel" aria-labelledby="v-question-3-tab">Answer 3 - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>

			  <div class="tab-pane fade" id="v-question-4" role="tabpanel" aria-labelledby="v-question-4-tab">Answer 4 - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
			</div>
		</div>
	</div>
</section>